* {
    box-sizing: border-box;
}
:root {
    --header-bg: #10375c;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}
/* common */
a {
    text-decoration: none;
}
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    line-height: var(--height);
    min-width: 205px;
    text-align: center;
    padding: 0 20px;
    color: #fff;
    font-size: 1.6rem;
    border-radius: 99px;
    border: 1px solid #2e80ce;
    background: #2e80ce;
}
.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}
.section-heading {
    font-weight: 600;
    font-size: 5rem;
    line-height: 1.2;
    letter-spacing: -0.02em;
    color: #10375c;
}
.section-desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #575f66;
}
/* Header */
.header {
    min-height: 100vh;
    padding-top: 30px;
    background-color: var(--header-bg);
}
.logo {
    position: relative;
    display: inline-flex;
    font-size: 1rem;
}
.logo-circle::before,
.logo-circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}
.logo-circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo-circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #ffffff;
}
.logo-text {
    margin-left: 0.6em;
    line-height: 1.6em;
    text-align: right;
}
.logo-brand {
    font-size: 1.8em;
    font-weight: 400;
    display: block;
    color: #ffffff;
}
.logo-brand--small {
    font-size: 1.2em;
    font-weight: 300;
}
/* Header top */
.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar__list {
    display: flex;
}
.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #c9d2da;
    font-weight: 300;
    font-size: 1.6rem;
}
.navbar__link:hover,
.navbar__link--active {
    color: #ffffff;
    text-shadow: 1px 0 0 currentColor;
}
.navbar__link--active::before {
    position: relative;
    top: -2px;
    left: -8px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
}
.header-action {
    display: flex;
    align-items: center;
}
.header-action__signup {
    --height: 40px;
    min-width: 104px;
    margin-left: 7px;
}
/* Hero  */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}
.hero__content {
    flex-shrink: 0;
    width: 44%;
}
.hero__heading {
    font-weight: 600;
    font-size: 7rem;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #ffffff;
    margin-bottom: 22px;
}
.hero__desc {
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #c9d2da;
    margin-bottom: 38px;
}
.hero__row {
    display: flex;
    align-items: center;
}
.hero__phone {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #ffffff;
    margin-left: 38px;
}
.hero__media {
    flex: 1;
}
.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}
.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}
.hero__img:last-child {
    width: 210px;
    height: 410px;
    border-radius: 0px 6px 6px 0px;
}
/* Service */
.service {
    padding: 170px 0;
}
.service__list {
    margin-bottom: 55px;
}
.service__heading,
.service__desc {
    text-align: center;
}
.service__desc {
    max-width: 468px;
    margin: 18px auto 70px auto;
}
.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}
.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    background: #ffffff;
    transition: 0.25s ease-out;
}
.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}
.service-item:hover .service-item__icon {
    color: #fff;
    background: #2e80ce;
    box-shadow: 0px 8px 16px rgba(40, 155, 222, 0.15);
}
.service-item__body {
    margin-left: 20px;
}
.service-item__heading {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.27;
    color: #10375c;
    margin-bottom: 8px;
}
.service-item__desc {
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
}
.service-item__icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    color: #10375c;
    background: #eff6fd;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    transition: 0.25s ease-out;
}
/* Work */
.work {
    background: #f7fbff;
    padding: 100px 0;
}
.work__desc {
    margin: 18px 0 86px 0;
    width: 468px;
}
.work__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
}
.work-item {
    background: #ffffff;
    padding: 43px;
    border-radius: 4px;
    border: 16px solid #eaf6ff;
    transition: 0.25s ease-in;
}
.work-item:hover {
    border: 16px solid #2e80ce;
    transform: translateY(-16px);
}
.work-item:hover .work-item__more {
    text-decoration: underline;
}

.work-item__heading {
    margin-top: 18px;
    font-weight: 600;
    font-size: 2.6rem;
    line-height: 1.38;
    color: #10375c;
}
.work-item__desc {
    font-size: 1.6rem;
    line-height: 1.75;
    color: #575f66;
    margin-bottom: 18px;
}
.work-item__more {
    display: block;
    padding: 8px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #2e80ce;
}
/* Feature */
.feature {
    padding: 85px 0;
    margin: 85px 0;
}
.feature__inner {
    display: flex;
    align-items: center;
    column-gap: 130px;
}
.feature__media {
    width: 48%;
}
.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}
.feature__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    filter: drop-shadow(0px 14px 28px rgba(0, 0, 0, 0.07));
    border-radius: 6px;
}
.feature__img:last-child {
    position: absolute;
    width: 332px;
    height: 370px;
    border-radius: 6px;
    object-fit: cover;
    right: 0;
    bottom: 0;
}
.feature__desc {
    margin: 18px 0 38px 0;
}
/* Member */
.member {
    padding: 85px 0;
    text-align: center;
}
.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.member__cta {
    margin-top: 38px;
}
.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    margin-top: 70px;
}
.member-item-img-bg {
    padding-top: 28px;
    background: #eaf6ff;
    border-radius: 6px;
    overflow: hidden;
}
.member-item:hover .member-item__thumb {
    transform: scale(1.1);
}
.member-item__thumb {
    height: 290px;
    max-width: 100%;
    display: block;
    object-fit: cover;
    transition: 0.25s;
}
.member-item__name {
    margin-top: 12px;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #10375c;
}
.member-item__title {
    font-size: 1.4rem;
    line-height: 1.86;
    color: #575f66;
}
.member__control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    margin-top: 38px;
}
.member__control-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    outline: none;
    color: #575f66;
    border: 1px solid #575f66;
    background: #fff;
    transition: 0.25s;
}
.member__control-next-icon {
    rotate: 180deg;
}
.member__control-btn:hover {
    border-color: #2e80ce;
    background: #2e80ce;
    color: #fff;
    cursor: pointer;
}
